body{
	background-color:rgb(244,243,240);
	height:100%;
}
.search-container{
	text-align:center;
	padding:5px;;
	background:linear-gradient(to bottom,#68b14e 0,#589442 100%);;
}
#carousel-example-generic .item img{
	width:100%;
	height:450px;
	object-fit:cover;
}
#search-btn{
	height:35px;
	width:97px;
	background-image: linear-gradient(to bottom,#33B73D 0,#2E4A14 100%);
}
#submit-btn{
	float:right;
	margin-top:15px;
	
}

#searchtext{
	
	width:40%;
	height:35px;
}
.navbar{
	margin-bottom:0;
}
.img-circle{
	width:100px;
	height:100px;
}